* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
    user-select: none;
}


body {
    background-size: cover;
    background-image: linear-gradient(to bottom right, rgb(231, 92, 90), rgb(191, 111, 237));
    background-repeat: no-repeat;
}

.container {
    display: flex;
    height: 100%;
    margin-top: 2rem;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1.2rem;
    border-radius: 15px;
    background-color: black;
    color: rgb(244, 96, 148);
    padding: 2rem 0;
}

.input {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    row-gap: 0.8rem;
    width: 25rem;
}

input::placeholder {
    color: rgb(145, 145, 145);
}

/* input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(244, 96, 148);
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
} */

.input>input {
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
    font-size: 1rem;
    font-weight: 500;
    background-color: black;
    padding: 0.5rem 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

.form-btn {
    display: flex;
    column-gap: 2.5rem;
}

.form-btn>input {
    color: rgb(244, 96, 148);
    border: 2px solid rgb(244, 96, 148);
    padding: 0.5rem 3rem;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}


.form-btn>input:hover {
    color: white;
    background-color: rgb(244, 96, 148);
}

.upload-btn {
    width: fit-content;
    color: rgb(244, 96, 148);
    border: 2px solid rgb(244, 96, 148);
    padding: 0.5rem 1rem;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    font-size: 1rem;
}

.upload-btn:hover {
    color: white;
    background-color: rgb(244, 96, 148);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: black;
    color: rgb(244, 96, 148);
    padding: 2rem 0;
    column-gap: 1.5rem;
}

.filter>input {
    border: none;
    outline: none;
    color: white;
    border-bottom: 2px solid white;
    font-size: 1rem;
    font-weight: 500;
    background-color: black;
    padding: 0.5rem 0;
}

.filter>div>button {
    color: rgb(244, 96, 148);
    border: 2px solid rgb(244, 96, 148);
    padding: 0.5rem 3rem;
    border-radius: 25px;
    background-color: transparent;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1rem;
}

.filter>button:hover {
    color: white;
    background-color: rgb(244, 96, 148);
}

.products {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.slider {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 72.8rem;
}

.product-slider {
    display: flex;
    position: relative;
    background-color: rgb(97, 52, 68);
    border-radius: 15px;
    padding: 3rem 2.5rem;
    width: 72.8rem;
    column-gap: 4rem;
    overflow: hidden;
}

.product-card>h2 {
    margin-top: 0.5rem;
    padding: 0.5rem;
    /* background-color: #3E83FB; */
}

.product-card>h2:hover {
    color: white;
    /* background-color: #3E83FB; */
}

.product-card {
    transition: 1s;
    position: relative;
    line-height: 1rem;
    width: 14rem;
    padding: 1rem;
    box-shadow: 0px 5px 20px black;
    border-radius: 15px;
    background-color: black;
    border: 3px solid white;
    color: rgb(244, 96, 148);
    text-align: center;
    padding-bottom: 1.5rem;
}

.product-img {
    display: inline-block;
    margin-bottom: 1rem;
    width: 12rem;
    height: 12rem;
}

.product-img>img {
    object-fit: contain;
    width: 10.5rem;
    height: 10.5rem;
}

.buttons {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    bottom: -1.4rem;
    left: 2rem;
    column-gap: 1.5rem;
}

.btn {
    cursor: pointer;
    border: none;
    padding: 1.2rem 1.2rem;
}

.edit {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgb(16, 140, 189);
    background-image: url("./assets/edit.png");
}

.view {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgb(0, 163, 108);
    background-image: url("./assets/view.png");
}

.delete {
    border-radius: 50%;
    width: 2.2rem;
    height: 2.2rem;
    background-position: center;
    background-size: 70%;
    background-repeat: no-repeat;
    background-color: rgb(238, 75, 43);
    background-image: url("./assets/delete.png");
}

#prev,
#next {
    position: absolute;
    top: 45%;
    /* padding: 20px 20px; */
    background-color: #fff;
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: rgb(138, 138, 138) 0px 2px 25px 0px;
    padding: 20px 15px 15px 15px;
    z-index: 1;
}

#prev {
    left: 0;
}

#next {
    right: 0;
    transform: rotate(180deg);
}

.remove {
    display: none;
}


@media screen and (max-width:1200px) {
    html {
        font-size: 12px;
    }
}