* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Helvetica, sans-serif;
    user-select: none;
}

body {
    background-size: cover;
    height: 100vh;
    background-image: linear-gradient(to bottom right,
            rgb(231, 92, 90),
            rgb(191, 111, 237));
    background-repeat: no-repeat;
}

.main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    padding: 2rem;
    width: 50%;
    color: white;
    background-color: black;
    overflow: auto;
    align-items: center;
    justify-content: space-between;
    border-radius: 25px;
}

span {
    font-size: 1.7rem;
}

.title {
    font-size: 2.1rem;
    color: rgb(244, 96, 148);
}

.detail {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

#description{
    font-size: 1.7rem;
    height: 12rem;
    overflow: auto;
}

.image>img {
    width: 22rem;
}